@media (max-width: 680px) {
    .menu-list {
        display: none;
    }
}
@media (max-width: 490px) {
    .title {
        font-size: 29px;
    }
}
@media (max-width: 440px) {
    .main img {
        border-radius: 101px 101px 101px 0;
    }
}
@media (max-width: 415px) {
    .main {
        padding-top: 40px;
    }
}
@media (max-width: 345px) {
    .footer-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;
    }
}