html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    color: white;
    display: inline-block;
    text-decoration: none;
}
a.hover:hover {
    color: #a0138e;
}
body {
    font-family: "Gilroy", sans-serif;
    color: white;
}
.title {
    font-size: 40px;
}
p {
    font-size: 18px;
    line-height: 30px;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.header {
    width: 100%; 
    background: linear-gradient(to bottom, #8E2DE2, #4A00E0);
}
.header__inner {
    min-height: 75px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__inner a {
    color: white;
}
.logo {
    display: flex;
    align-items: center;
}
.logo a:last-child {
    padding-left: 10px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.menu__item a {
    padding: 10px 15px;
    border-radius: 5px;
}
.menu__item a:hover {
    background-color: #fff;
    color: black;
}
.icons-list {
    display: flex;
    justify-content: space-between;
}
.icons-list li:first-child {
    margin-right: 10px;
}
.main {
    background-color: #26282d;
    padding: 80px 0 40px 0;
    background: linear-gradient(to bottom, #aa4b6b, #6b6b83, #3b8d99);
}
.main__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.main__inner img {
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}
.info {
    background-color: #811f74;
    background: linear-gradient(to bottom, #AA076B, #b11cae);
    padding: 40px 0 0 0;
}
.info__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.info-descr {
    margin-bottom: 100px;
}
.photo-block p {
    border: 2px white solid;
    border-radius: 15px;
    padding: 15px;
}
.photo-block {
    margin-bottom: 60px;
}
.photo-block img {
    max-width: 100%;
    height: auto;
}
.contact {
    background-color: #26282d;
    padding: 40px 0 60px 0;
    background: linear-gradient(to bottom, #FF512F, #DD2476);
}
.contact__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact__inner .title {
    margin-bottom: 40px;
}
.contact-list {
    margin-bottom: 60px;
    font-size: 18px;
}
.contact-list li {
    margin-bottom: 15px;
}
.contact-list li:last-child {
    margin-bottom: 0;
}
.horizontal {
    justify-content: flex-start;
}
.footer {
    min-height: 100px;
    background-color: #1e2025;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer a {
    text-decoration: underline;
}
.footer-info .name {
    margin-right: 10px;
}
video  {
    box-shadow: 0 5px 30px rgba(0, 0, 0, .75);
    max-width: 100%;
    height: auto;
}